/* estilos de inicio */

.inicio-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 16px;
}

@media (max-width: 768px) {
  .inicio-container {
    flex-direction: column-reverse;
  }
}

.container-dark {
  background: rgb(29, 42, 86);
  background: radial-gradient(
    circle,
    rgba(29, 42, 86, 1) 14%,
    rgba(10, 26, 58, 1) 26%,
    rgba(28, 42, 74, 1) 45%,
    rgba(15, 27, 59, 1) 65%
  );
}

.container-light {
  background: rgb(163, 196, 215);
  background: radial-gradient(
    circle,
    rgba(163, 196, 215, 1) 10%,
    rgba(124, 158, 232, 1) 26%,
    rgba(58, 119, 209, 1) 47%,
    rgba(121, 169, 208, 1) 65%
  );
}

/* estilos de titulo de inicio */
.titulo-container {
  display: flex;
  flex-direction: column;
  column-gap: 16px;
  flex: 1;
}

.titulo {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 20px 0;
  position: relative;
  z-index: 1;
  animation: fadeInTitle 1s ease-out;
}

.titulo-dark {
  color: #e0e0e0;
}

.titulo-dark::after {
  content: "";
  position: absolute;
  bottom: 18px;
  left: 50%;
  width: 100%;
  height: 3px;
  transition: width 0.3s ease, left 0.3s ease;
  transform: translateX(-50%);
  background-color: #a3c4d7;
}

.titulo-light {
  color: #111111;
}

.titulo-light::after {
  content: "";
  position: absolute;
  bottom: 18px;
  left: 50%;
  width: 100%;
  height: 3px;
  transition: width 0.3s ease, left 0.3s ease;
  transform: translateX(-50%);
  background-color: #0f1b3b;
}

.titulo:hover::after {
  width: 50%;
  left: 0;
}

@keyframes fadeInTitle {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* estilos de descripcion */

.descripcion {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  animation: fadeInTitle 1.3s ease-out;
  text-align: center;
  padding-bottom: 20px;
}

.descripcion-dark {
  color: #e0e0e0;
}

.descripcion-light {
  color: #333;
}

/* estilos de botones */

.botones-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.boton-curriculum {
  width: 200px;
  font-weight: bold;
  font-size: 24px;
  padding: 12px;
  border-radius: 24px;
  border: 3px solid;
  background-color: transparent;
  vertical-align: middle;
}

.boton-curriculum:hover {
  cursor: pointer;
}

.boton-curriculum-dark {
  border-color: #a3c4d7;
  background-color: #7c9ee8;
  transition: transform 0.3s ease, background-color 0.3s ease,
    box-shadow 0.3s ease;
}

.boton-curriculum-dark:hover {
  transform: translateY(-5px);
  background-color: #6a88d1;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.3);
}

.boton-curriculum-light {
  border-color: #0f1b3b;
  background-color: #1d2a56;
  color: #e0e0e0;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.boton-curriculum-light:hover {
  transform: translateY(-5px);
  background-color: #16234b;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.boton-redes {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  font-size: 20px;
  vertical-align: center;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid;
}

.boton-redes-dark {
  border-color: #a3c4d7;
  color: #e0e0e0;
}

.boton-redes-light {
  border-color: #0f1b3b;
  color: #111111;
}

.boton-redes:hover {
  cursor: pointer;
  animation: shake 0.3s ease-in-out;
}

@keyframes shake {
  0% {
    transform: translateX(0); /* Posición original */
  }
  25% {
    transform: translateX(-4px); /* Mueve hacia la izquierda */
  }
  50% {
    transform: translateX(4px); /* Mueve hacia la derecha */
  }
  75% {
    transform: translateX(-4px); /* Mueve hacia la izquierda */
  }
  100% {
    transform: translateX(0); /* Vuelve a la posición original */
  }
}

/* estilos de imagen de inicio */

.imagen-container {
  display: flex;
  justify-content: center;
  align-content: center;
  column-gap: 16px;
  flex: 1;
}

.imagen-wrapper {
  overflow: hidden;
  width: 1;
}

.imagen-codigo {
  width: 100%;
  border-radius: 24px;
  transition: transform 0.3s ease-in-out;
  animation: fadeInImage 0.5s ease-out;
}

.imagen-codigo:hover {
  transform: scale(1.01);
}

@keyframes fadeInImage {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
